.navigation-baration {
  display: block;
}

.buttons:hover {
  background-color: #f3f3f3;
  color: rgb(156, 156, 156);
}

.buttons-2:hover {
  background-color: #f3f3f3;
}

.form {
  position: relative;
}

.form-offcanvas {
  width: 700px;
}

.form .bi-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
  align-items: center;
}

.bi-search {
  display: flex;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  border: rgb(73, 73, 73) solid 1px;
}

.form-input:focus {
  box-shadow: none;
  border: black solid 1px;
}

.caixa {
  max-width: 1326px;
}

.off-canvas-bttn {
  color: #9ca3af;
  border-radius: 0;
  font-weight: 500;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px #9ca3af;
}

.off-canvas-bttn:hover {
  color: black;
  border-radius: 0;
  font-weight: 500;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px #9ca3af;
}

.off-canvas-bttn:first-child {
  color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px black;
}

.containerBox {
  display: inline-block;
}
.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}
.text-box:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.img-text {
  display: inline-block;
  font-size: 50px; /*or whatever you want*/
  color: #fff;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.infocards-btn {
  border: #dbdbdb solid 1px;
  border-radius: none;
}

.infocards-btn:hover {
  border: #dbdbdb solid 1px;
  border-radius: none;
  color: black;
  background-color: #f3f3f3;
}

.email-bar {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: rgb(146, 146, 146) solid 1px;
  padding-left: 15px;
}

a {
  color: #212529;
}

.sticky {
  position: sticky;
}

.footer-bg {
  background-color: #e6e6e6;
}

.footer-row {
  border-bottom: 1px white solid;
}

.lnk {
  text-decoration: none;
}

.lnk:hover {
  text-decoration: underline;
}













/* responsive screen adaptation */

@media only screen and (max-width:576px){
  .navigation-baration{
    display: none;
  }
  .navigation-baration-mobile{
    display: none;
  }
  .navigation-baration-mobile-2{
    display: block;
  }
}

@media only screen and (max-width:1200px){
  .navigation-baration{
    display: none;
  }
  .navigation-baration-mobile{
    display: none;
  }
  .navigation-baration-mobile-2{
    display: none;
  }
}

@media only screen and (min-width:1201px){
  .navigation-baration{
    display: block;
  }
  .navigation-baration-mobile{
    display: none;
  }
  .navigation-baration-mobile-2{
    display: none;
  }
}